# IRIS Dataset
- Pra quem não sabe o iris dataset é um conjunto de dados extraídos manualmente com um biologo que era estatistico e gostaria de determinar uma especie somente pelo tamanho das suas petras e seplas

#### Começaremos importando as bibliotecas necessárias para o projeto

In [103]:
import pandas as pd 
import numpy as np
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

#### Carregando base de dados

In [35]:
iris = load_iris()

#### Exibindo uma partes dos dados

In [45]:
iris.data[0:5]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])

#### Não ficou muito bonito de se ver, então vamos melhorar um pouco...

In [92]:
colunas = ['Sepal length cm\n', 'Sepal width cm\n', 'Petal length cm\n', 'Petal width cm\n']
dados = iris.data

ds_iris = pd.DataFrame(iris.data, columns=colunas)
ds_iris['Classe'] = iris.target
ds_iris.head()

,Sepal length cm\n,Sepal width cm\n,Petal length cm\n,Petal width cm\n,Classe
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [118]:
# Criando a coluna Especies
for i in iris.target:
    ds_iris['Especies'] = colunas[i]
ds_iris.head(2)

,Sepal length cm\n,Sepal width cm\n,Petal length cm\n,Petal width cm\n,Classe,Especies
0,5.1,3.5,1.4,0.2,0,Petal length cm\n
1,4.9,3.0,1.4,0.2,0,Petal length cm\n

#### Bem melhor agora né

#### Agora vamos dividir nossos dados,
- Dados: São variáveis numéricas que servem para fazer o treinamento do modelo
- Classe: São variáveis categóricas que servem para classificar os dados
- Como o nosso algoritmo não aceita variáveis categóricas vamos usar iris.target en vez do iris.target_names

In [4]:
x = iris.data
y = iris.target

#### Vamos dividiremos os dados em dois, que serão nossos dados de treino e teste 
- <code>Treino:</code> São usados para treinar o algoritmo
- <code>Teste:</code> São usados para treinar o nosso modelo 
- <code>train_test_split:</code> É bastante usado para separa dados entre treino e teste
- <code>test_size=0.3:</code> Vai separa os dados em 30/100 (30 para treino e 70 para teste)

In [49]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [58]:
print(x_train.shape) # Dados das flores 70%   Exemplo de dados: [[4.7, 3.2, 1.3, 0.2], [5.9, 3. , 4.2, 1.5], [5.4, 3.4, 1.5, 0.4]]
print(x_test.shape) # Dados das flores  30%   Exemplo de dados: [[6. , 2.2, 4. , 1. ], [7.3, 2.9, 6.3, 1.8], [6. , 3. , 4.8, 1.8]]
print(y_train.shape) # Classificador    70%   Exemplo de dados: [[0, 1, 0, 0, 1, 1, ... 1, 2, 1, 0, 1,]
print(y_test.shape) #  Classificador    30%   Exemplo de dados: [1, 2, 2, 2, 2, 2, ... 2, 0, 2, 0, 1, 2]

(105, 4)
(45, 4)
(105,)
(45,)

## Instanciando o algoritimo KNN
---

In [96]:
knn = KNeighborsClassifier(n_neighbors=3)

#### Treinando o algoritimo

In [97]:
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=3)

#### Executando o KNN com o algoritimo de teste

In [98]:
resultado = knn.predict(x_test)
resultado

array([1, 2, 2, 2, 2, 2, 1, 2, 0, 2, 0, 1, 2, 0, 0, 2, 1, 1, 1, 1, 1, 2,
       2, 2, 2, 0, 1, 2, 0, 0, 0, 2, 0, 1, 2, 0, 2, 1, 1, 2, 2, 0, 0, 2,
       2])

## Tecnicas de Validação
---

#### Matriz de comfusão

In [101]:
print(pd.crosstab(y_test, resultado, 
                  rownames=['Real'], 
                  colnames=['Predito'],
                  margins=True))

Predito   0   1   2  All
Real
0        12   0   0   12
1         0  11   2   13
2         0   1  19   20
All      12  12  21   45

#### Metricas de classificação

In [117]:
print(metrics.classification_report(y_test, resultado))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        12
           1       0.92      0.85      0.88        13
           2       0.90      0.95      0.93        20

    accuracy                           0.93        45
   macro avg       0.94      0.93      0.94        45
weighted avg       0.93      0.93      0.93        45